<div class="container">
  <div class="col-md-4 col-md-offset-4">
    <h1>Sign Up</h1>

    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <p>
        <%= f.label :email %><br />
        <%= f.text_field :email, :class => 'form-control' %>
      </p>
      <p>
        <%= f.label :password %><br />
        <%= f.password_field :password, :class => 'form-control'  %>
      </p>
      <p>
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, :class => 'form-control'  %>
      </p>
      <p class="button"><%= f.submit :class => 'btn btn-info' %></p>
    <% end %>
  </div>
</div>